[Desktop Entry]
Name=Stick Cursor To Screen
GenericName=Multi-monitor cursor utility

Exec=stick-pointer-to-screen
Icon=Stick-pointer-to-screen
Type=Application
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Comment=Prevents the user from accidentally moving the cursor to another screen

X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
X-DBUS-ServiceName=org.kde.yakuake
